@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "~normalize.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #121232;
  font-family: "Open Sans", sans-serif;
  color: #727279;
}

.editor {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  &__heading {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
  }
}

.form {
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__text {
    width: 100%;
    margin: 12px 0;
    padding: 16px;
    resize: none;
    background-color: #fafafc;
    border: 1px solid #121232;
    border-radius: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}

.button {
  width: 65px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fafafc;
  border: 1px solid #121232;
  border-radius: 4px;
  &--save {
    margin-left: 32px;
  }
}
