@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121232;
  font-family: "Open Sans", sans-serif;
  color: #727279;
}

.main {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 184px 80px 8px 480px 16px 40px;
  grid-template-columns: repeat(12, 1fr);

  &__button {
    margin-left: auto;
    width: 64px;
    height: 40px;
    grid-row: 6;
    border-radius: 5px;
    &--load {
      grid-column: -6;
    }
    &--save {
      grid-column: -5;
    }
  }

  &__heading {
    margin: 0;
    height: 80px;
    grid-row: 2;
    grid-column: 5 / -5;
    text-align: center;
    line-height: 64px;
    font-size: 44px;
  }

  &__text {
    height: 480px;
    padding: 15px;
    grid-row: 4;
    grid-column: 4 / -4;
    border-radius: 5px;
    resize: none;
  }
}
